<mat-form-field
    appearance="fill"
    [style.width.px]="width"
>
    <button
        matPrefix
        disableRipple
        mat-icon-button
        aria-label="Search"
        color="secondary"
    >
        <mat-icon color="secondary">search</mat-icon>
    </button>
    <input
        #searchInput
        matInput
        [matAutocomplete]="autocomplete"
        type="text"
        [formControl]="searchControl"
        [placeholder]="placeholder"
    >
    <button
        mat-button
        disableRipple
        *ngIf="searchControl.value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        color="secondary"
        (click)="searchControl.setValue(undefined, { emitEvent: false })"
    >
        <mat-icon>close</mat-icon>
    </button>
</mat-form-field>
