$app-blue: #0071ce;
$app-yellow: #ffc220;
$app-white: #ffffff;

$app-blue-palette: (
  50 : #e0eef9,
  100 : #b3d4f0,
  200 : #80b8e7,
  300 : #4d9cdd,
  400 : #2686d5,
  500 : #0071ce,
  600 : #0069c9,
  700 : #005ec2,
  800 : #0054bc,
  900 : #0042b0,
  A100 : #dae5ff,
  A200 : #a7c1ff,
  A400 : #749eff,
  A700 : #5a8cff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000
  )
);

$app-yellow-palette: (
  50 : #fff8e4,
  100 : #ffedbc,
  200 : #ffe190,
  300 : #ffd463,
  400 : #ffcb41,
  500 : #ffc220,
  600 : #ffbc1c,
  700 : #ffb418,
  800 : #ffac13,
  900 : #ff9f0b,
  A100 : #ffffff,
  A200 : #fffbf6,
  A400 : #ffe5c3,
  A700 : #ffdaa9,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000
  )
);

$app-white-palette: (
  50 : #ffffff,
  100 : #ffffff,
  200 : #ffffff,
  300 : #ffffff,
  400 : #ffffff,
  500 : #ffffff,
  600 : #ffffff,
  700 : #ffffff,
  800 : #ffffff,
  900 : #ffffff,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000
  )
);


