@import 'styles/themes/blue/theme';
@import 'styles/typography';

@include mat-core($app-typography);

html, body {
  height: 100%;
}

body {
  margin: 0;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
