@import '../../../../styles/themes/blue/colors';

.header {
  min-height: 100px;

  &__search {
    margin-left: 50px;
    padding-top: 20px;
  }

  &__autocomplete {
    display: inline;
    line-height: normal;
    white-space: normal;
  }

  &__logo {
    width: 228px;
  }
}
