<mat-toolbar class="header" color="primary">
  <a
    class="header__link font--lg"
    fxLayoutAlign="center center"
    [routerLink]="['/']">
    <img
      class="header__logo"
      src="/assets/images/walmart-spark.png">
    <span class="header__title">Walmart</span>
  </a>
  <app-search class="header__search" width="700" placeholder="Search" [autocomplete]="auto" [formControl]="siteSearch"></app-search>
</mat-toolbar>

<mat-autocomplete #auto="matAutocomplete">
  <mat-option class="header__autocomplete" *ngFor="let product of products$ | async" [value]="product.name">
    <app-product-search (click)="searchSubject.next(product)" [product]="product"></app-product-search>
  </mat-option>
</mat-autocomplete>
