@import '../../../../styles/themes/blue/colors';

.header {
  min-height: 100px;

  &__link {
    text-decoration: none;
    font-family: Bogle;
    font-weight: 800;
    text-transform: capitalize;
    color: $app-white;
    margin-left: 15px;
    line-height: 1;
  }

  &__search {
    margin-left: 50px;
    padding-top: 20px;
  }

  &__autocomplete {
    display: inline;
    line-height: normal;
    white-space: normal;
  }

  &__title {
    margin-left: 17px;
    letter-spacing: 1px;
  }

  &__logo {
    width: 70px;
  }
}
